
services:
  alita-sdk:
    image: ghcr.io/projectalita/alita-sdk:pyodide
    platform: linux/amd64
    container_name: alita-sdk-dev
    environment:
      - GIT_TOOL_ACCESS_TOKEN=${GIT_TOOL_ACCESS_TOKEN}
      - DEPLOYMENT_URL=${DEPLOYMENT_URL}
      - API_KEY=${ALITA_API_KEY}
      - PROJECT_ID=${PROJECT_ID}
      - TEST_CASES_DIR=${TEST_CASES_DIR:-github}
      - CONFLUENCE_API_KEY=${CONFLUENCE_API_KEY}
      - CONFLUENCE_BASE_URL=${CONFLUENCE_BASE_URL}
      - CONFLUENCE_USERNAME=${CONFLUENCE_USERNAME}
      - ADO_TOKEN=${ADO_TOKEN}
      - ADO_REPOSITORY_ID=${ADO_REPOSITORY_ID}
      - ADO_ORGANIZATION_URL=${ADO_ORGANIZATION_URL}
      - ADO_PROJECT=${ADO_PROJECT}
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - PGVECTOR_CONNECTION_STRING=postgresql://postgres:yourpassword@pgvector-db:5432/postgres
    volumes:
      - ./.alita:/app/.alita
      - ./alita_sdk:/app/alita_sdk
    working_dir: /app/.alita/tests/test_pipelines
#    command: >
#      sh -c "alita agent execute-test-cases
#      --test-cases-dir .alita/tests/testcases/$${TEST_CASES_DIR}"
#    command: ["bash", "./run_test.sh", "--setup", "--seed", "github_toolkit", "list_branches"]
    command: ["bash", "./run_test.sh", "--local", "github_toolkit", "test_case_01"]

  pgvector-db:
    image: ankane/pgvector
    container_name: local-alita-pgvector-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=yourpassword
      - POSTGRES_DB=postgres
    ports:
      - "5435:5432"
