
services:
  alita-sdk:
    image: ghcr.io/projectalita/alita-sdk:pyodide
    platform: linux/amd64
    container_name: alita-sdk-dev
    environment:
      - GIT_TOOL_ACCESS_TOKEN=${GIT_TOOL_ACCESS_TOKEN:-}
      - DEPLOYMENT_URL=${DEPLOYMENT_URL:-}
      - API_KEY=${ALITA_API_KEY:-}
      - PROJECT_ID=${PROJECT_ID:-}
      - TEST_CASES_DIR=${TEST_CASES_DIR:-github}
      - DOCKER_COMMAND=${DOCKER_COMMAND:-}
      - CONFLUENCE_API_KEY=${CONFLUENCE_API_KEY:-}
      - CONFLUENCE_BASE_URL=${CONFLUENCE_BASE_URL:-}
      - CONFLUENCE_USERNAME=${CONFLUENCE_USERNAME:-}
      - ADO_TOKEN=${ADO_TOKEN:-}
      - ADO_REPOSITORY_ID=${ADO_REPOSITORY_ID:-}
      - ADO_ORGANIZATION_URL=${ADO_ORGANIZATION_URL:-}
      - ADO_ORG=${ADO_ORG:-epameliteatest}
      - ADO_PROJECT=${ADO_PROJECT:-}
      - ENV_NAME=${ENV_NAME:-local}
      - FIGMA_API_TOKEN=${FIGMA_API_TOKEN:-}
      - BITBUCKET_TOKEN=${BITBUCKET_TOKEN:-}
      - XRAY_CLIENT_SECRET=${XRAY_CLIENT_SECRET:-}
      - XRAY_CLIENT_ID=${XRAY_CLIENT_ID:-}
      - ZEPHYR_ESENTIALS_KEY=${ZEPHYR_ESENTIALS_KEY:-}
      - GITLAB_PRIVATE_TOKEN=${GITLAB_PRIVATE_TOKEN:-}
      - POSTMAN_API_KEY=${POSTMAN_API_KEY:-}
      - SHAREPOINT_CLIENT_SECRET=${SHAREPOINT_CLIENT_SECRET:-}
      - QTEST_API_TOKEN=${QTEST_API_TOKEN:-}
      - TESTRAIL_PASSWORD=${TESTRAIL_PASSWORD:-}
      - PGVECTOR_CONNECTION_STRING=postgresql://postgres:yourpassword@pgvector-db:5432/postgres
      - DEFAULT_LLM_MODEL=gpt-4o-2024-11-20
      - SANDBOX_BASE=/app/
      - DENO_DIR=/app/
      - PYTHONPATH=/app
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./.alita:/app/.alita
      - ./alita_sdk:/app/alita_sdk
      - ./.git:/app/.git
      - ./github:/app/.github
    command: >
      sh -c "$${DOCKER_COMMAND:-.alita/tests/test_pipelines/run_all_suites.sh --local suites/github}"

  pgvector-db:
    image: ankane/pgvector
    container_name: local-alita-pgvector-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=yourpassword
      - POSTGRES_DB=postgres
    ports:
      - "5435:5432"