astor~=0.8.1
atlassian_python_api==3.41.16
atlassian-python-api~=3.41
azure-core==1.30.2
azure-devops==7.1.0b4
azure-identity==1.16.0
azure-keyvault-keys==4.9.0
azure-keyvault-secrets==4.8.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-search-documents==11.5.2
azure-storage-blob==12.23.1
beautifulsoup4
beautifulsoup4==4.12.2
boto3>=1.37.23
browser-use==0.1.43
cairocffi==1.7.1
charset_normalizer==3.3.2
chromadb<0.7.0
docx2txt==0.8
duckduckgo_search==5.3.0
dulwich==0.21.6
elitea-analyse==0.1.2
factor_analyzer==0.5.1
FigmaPy==2018.1.0
gensim==4.3.3
gitpython==3.1.43
google-api-python-client==2.154.0
googlemaps==4.10.0
jira==3.8.0
keybert==0.8.3
langchain_chroma~=0.2.2
langchain_community~=0.3.7
langchain_core==0.3.49
langchain-openai~=0.3.0
langchain-postgres~=0.0.13
langchain-unstructured~=0.1.6
langchain<=0.3.22
langgraph>=0.4.8
langgraph-checkpoint-postgres~=2.0.1
langgraph-checkpoint-sqlite~=2.0.0
langsmith>=0.3.45
lxml==5.2.2
mammoth==1.9.0
markdown==3.5.1
markdownify~=1.1.0
msrest==0.7.1
Office365-REST-Python-Client==2.5.14
opencv-python==4.11.0.86
openpyxl==3.1.2
opentelemetry-exporter-otlp-proto-grpc==1.25.0
pandas==2.2.3
paramiko==3.3.1
pdf2image==1.16.3
pdfminer.six==20240706
pgvector==0.2.5
pikepdf==8.7.1
playwright>=1.52.0
psycopg2-binary==2.9.10
pygithub==2.3.0
pymupdf==1.24.9
PyMySQL==1.1.1
pyobjtojson==0.3
pypdf==4.3.1
pypdf2~=3.0.1
pyral==1.6.0
pysnc==1.1.10
pytesseract==0.3.13
python-docx==1.1.2
python-gitlab==4.5.0
python-graphql-client~=0.4.3
python-pptx==1.0.2
qtest-swagger-client==0.0.3
reportlab==4.2.5
requests_openapi==1.0.5
retry-extended==0.2.3
rlpycairo==0.3.0
scipy==1.13.1
sentence-transformers==2.7.0
shortuuid==1.0.13
statsmodels==0.14.4
svglib==1.5.1
tabulate==0.9.0
testrail-api==1.13.2
tree_sitter==0.20.2
tree-sitter-languages==1.10.2
unstructured_inference==0.8.7
unstructured_pytesseract==0.3.13
unstructured[local-inference]==0.16.23
wikipedia==1.4.0
yagmail==0.15.293
yarl==1.17.1
zephyr-python-api==0.1.0
