# Tools module requirements
# Version control and repositories
dulwich==0.21.6
paramiko==3.3.1
pygithub==2.3.0
python-gitlab==4.5.0
gitpython==3.1.43

# Project management tools
atlassian-python-api~=3.41
atlassian_python_api==3.41.16
jira==3.8.0
qtest-swagger-client==0.0.3
testrail-api==1.13.2
azure-devops==7.1.0b4
msrest==0.7.1
python-graphql-client~=0.4.3
zephyr-python-api==0.1.0
pyral==1.6.0

# Cloud services
boto3>=1.37.23
azure-core==1.30.2
azure-identity==1.16.0
azure-keyvault-keys==4.9.0
azure-keyvault-secrets==4.8.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-storage-blob==12.23.1
azure-search-documents==11.5.2

# Database
PyMySQL==1.1.1
psycopg2-binary==2.9.10

# Office and document processing
Office365-REST-Python-Client==2.5.14
python-docx==1.1.2
python-pptx==1.0.2
pypdf2~=3.0.1
FigmaPy==2018.1.0

# Data analysis
pandas==2.2.3
factor_analyzer==0.5.1
statsmodels==0.14.4
tabulate==0.9.0

# Code analysis
tree_sitter==0.20.2
tree-sitter-languages==1.10.2
astor~=0.8.1

# Web and API tools
markdownify~=1.1.0
requests_openapi==1.0.5
duckduckgo_search==5.3.0
playwright>=1.52.0
google-api-python-client==2.154.0
wikipedia==1.4.0
lxml==5.2.2
beautifulsoup4
pymupdf==1.24.9
googlemaps==4.10.0

# Email
yagmail==0.15.293

# ServiceNow
pysnc==1.1.10
shortuuid==1.0.13
yarl==1.17.1
